* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
}

/* -----common style start css------  */
.banner-btn {
  padding: 21px 40px;
  background-color: #ff42a5;
  font-size: 22px;
  color: #fff;
  border-radius: 48px;
  border: none;
}

/* -----common style end css------  */
/* -----navbar start css----  */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  /* border: 2px solid teal; */
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 4px 30px 1px rgba(0, 1, 1, 0.07);
}

.nav-links ul {
  list-style: none;
}

.nav-links ul li a {
  text-decoration: none;
  color: #3d354a;
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
}

.nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-logo h1 {
  color: #0b0223;
  font-size: 45px;
}

.nav-logo span {
  color: #ff42a5;
}

.nav-links ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.nav-link-2 li {
  display: flex;
  background-color: rgba(11, 2, 35, 0.1);
  padding: 17px 34px;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}

.icon {
  margin-left: 10px;
}

.icony {
  margin-left: 10px;
  color: red;
  font-size: 22px;
}

.icont {
  margin-left: 10px;
  color: #000000;
  font-size: 22px;
}

/* -----navbar end css----  */
/*----------banner start css------ */
.banner-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid green; */
}

.banner-text h1,
h2,
p {
  text-align: left;
  margin-bottom: 20px;
}

.banner-text h1 {
  color: #0b0223;
  text-align: center;

  font-size: 48px;

  font-weight: 600;
}

.banner-text h2 {
    font-size: 95px;
      background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
 
}

.banner-text p {
  color: #0b0223;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}

.banner-img {
  margin-top: 60px;
}

/* --------banner end css------  */ 
/* ----about start css---- */
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcf7fd;
  color: #534c64;
  padding: 20px 100px;
  /* border: 1px solid darkblue; */
  width: 100%;
  margin: 0 auto;
}

.about-img img {
  width: 568px;
  height: 489px;
}

.about-text h1 {
    font-size: 47px;
      background: linear-gradient(181deg, #F948B2 0%, #8758F1 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
}

.about-text p {
  text-align: right;
  flex: 1;
}

.about-text {
  text-align: right;
}

.about-pre-text {
  text-align: right;
}

.about-pre-text p {
  font-size: 22px;
  text-align: right;
  margin-top: 10px;
}

.about-pre-text h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: right;
  margin-bottom: 20px;
}

/* ----about end css----  */

/* ------card start css----- */
.card-container {
  /* border: 1px solid rebeccapurple; */
  width: 90%;
  margin: 0 auto;
}

.card-container h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #0b0223;
  margin: 10px;
}

.card-container h1 span {
background: linear-gradient(182deg, #F954B2 0%, #8450F1 100%);
  font-size: 72px;
    -webkit-background-clip:text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.card-header p {
  text-align: center;
  color: #534c64;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  /* padding: 20px; */
}

.card-img {
  position: relative;
  width: 98%;
  /* max-width: 390px; */
}

.overlay {
  position: absolute;
  top:0;
  bottom: 100px;
  left:0;
  right:0;
  height: 100%;
  width: 100%;
  opacity:0;
  transition: 0.5s ;
  background-color: rgba(0, 1, 1, 0.274);
 
}

.overlay p {
  top: 155%;
  left: 82%;
  text-align: center;
  font-weight: 800;
  color: #f942b4;
  font-size: 18px;
  position: absolute;
  transform: translate(-80%, -52%);
 
}

.icon {
  top: 50%;
  left: 50%;
  color: white;
  font-size: 30px;
   position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -52%);
  text-align: center;
  
}

.card-img:hover .overlay {
  opacity: 1;
  border: 2px solid #f948b2;
}

.fa-user:hover {
  color: white;
}

.card-img img {
  width: 100%;
  height: auto;
}

/* ------card end css----- */
/* ------poster css start----- */
.poster-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 100vh;
  margin: 20px auto;
  /* border: 2px solid #f948b2; */
}

.poster-doc,
h1,
p {
  text-align: right;
  color: #0b0223;
}

.poster-doc span {
  color: #f948b2;
}

.poster-img img {
  width: 90%;
  height: 400px;
}

.poster-img {
  position: relative;
}

.p-2 img {
  position: absolute;
  right: 300px;
  top: 210px;
  width: 200px;
  height: 300px;
}

/* ------poster css end----- */
/* ------game css start ------ */
.game {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  align-content: center;
  padding: 5px 5px;
  text-align: left;
  width: 90%;
  border: 2px solid #fcf7fd;
  border-radius: 40px;
}

.game:hover {
  border-radius: 40px;
  border: 2px solid #F948B2 ;

}

.game:hover p {
  color: #f948b2;
}

.game-iteam {
  width: 90%;
  margin: 0 auto;

  display: grid;
  padding: 40px;
  /* border: 2px solid green; */
}

.game-iteam-1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

/* ------game css end ------ */
/* -------Footer strat------ */
.footer-container {
  background-color: #0b0223;
  width: 100%;
  margin: 40px auto;
  border: 2px solid red;
}
.footer-parent {
  padding: 30px;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 10px;
}
.footer-logo span {
  color: #f948b2;
}

.footer-logo h1 {
  color: #fff;
}

.footer-link ul li a {
  text-decoration: none;
  color: #fcf7fd;
}

.footer-link ul li {
  list-style-type: none;
}

.footer-link ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-content: center;
}

.footer-icon {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.footer-icon a {
  color: #fff;
  font-size: 32px;
}

.footer-team ul li {
  list-style-type: none;
}

.footer-team ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-team ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-parent h4 {
  color: #fcf7fd;
  text-align: center;
}

.footer-doc {
  width: 700px;

  padding: 20px;
  margin: 10px auto;
}

.footer-link,
.footer-icon,
.footer-team {
  margin-bottom: 20px;
}

/* -------Footer end----- */

/* -----responsive for tab style start here ----- */
@media screen and (max-width: 480px) {
  nav {
    flex-direction: column;

    margin: 0 auto;
  }

  .nav-links ul {
    flex-direction: column;

    margin: 0 auto;
  }

  .banner-container {
    flex-direction: column-reverse;

    margin: 0 auto;
  }

  .about-container {
    flex-direction: column;

    margin: 0 auto;
  }

  .card {
    flex-direction: column;

    margin: 0 auto;
  }

  .poster-container {
    flex-direction: column;
    /* width: 90%; */
    margin: 30px auto;
  }

  .poster-img {
    margin-right: 30px;
    width: auto;
  }

  .p-1 img {
    width: 200px;
    height: 300px;
  }

  .p-2 img {
    width: 150px;
    height: 200px;
  }

  .game-iteam-1 {
    grid-template-columns: repeat(3, 1fr);
    margin: 100px auto;

    margin-right: 80px;
  }

  .game-img img {
    font-size: 10px;
  }

  .game-name p {
    font-size: 10px;
  }

  .footer-parent {
    width: auto;
  }

  .footer-link ul {
    grid-template-rows: repeat(2, 1fr);
  }

  .footer-icon {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-team ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* -----responsive style end here ----- */